/* CSS Reset & Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans';
}

::placeholder {
  color: rgb(221, 221, 221);
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 19, 19);
  transition: 0.8s all;
}

h1 {
  margin-bottom: 1.5%;
  color: #fff;
  font-weight: normal;
}

.container {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


input {
  padding: 25px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  background-color: rgb(47, 51, 50);
  border: none;
  outline: none;
  border-radius: 100px;
  margin: 0.2em;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 4px;
}

input[type="text"] {
  background-color: rgb(47, 51, 50);
  width: 222.5px;
}

input[type="button"]:hover {
  background-color: rgb(101, 101, 101);
  color: #fff;
}

#clear-button {
  color: #fff;
  background-color: rgb(255, 42, 42);
}

a {
  text-decoration: none;
  color: #fff;
}


.home-text{
  text-align: center;
  position: relative;
  z-index: 2;
  
}

.home-text h1{
 color:#127d92;
 font-size: 50px;
 color:#127d92;
 line-height: 56px;
 font-weight: 700;
 margin:0 0 20px;
}
.home-text p{
 margin:0;
 overflow: hidden;
}
.home-text p span{
   font-size: 40px;
   color:#009B4D;
   font-weight: 700;
   display: inline-block;
   line-height: 46px;
   display: none;
   margin:0 0 20px;
}

.home-text p span.text-in{
 display: block;
 animation: textIn .5s ease;
}
.home-text p span.text-out{
 animation: textOut .5s ease;
}
@keyframes textIn{
 0%{
   transform: translateY(100%);
 }
 100%{
   transform: translateY(0%);
 }
}
@keyframes textOut{
 0%{
   transform: translateY(0%);
 }
 100%{
   transform: translateY(-100%);

 }
}